---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="プライバシーポリシー"
	description="当ブログにおける個人情報の取り扱いおよびCookieの使用に関する方針について説明します。"
	pubDate={new Date('June 07 2026')}
>
	<h2>1. 個人情報の利用目的</h2>
	<p>
		当ブログでは、お問い合わせやコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合にのみ利用し、これらの目的以外では利用いたしません。
	</p>

	<h2>2. 個人情報の第三者提供</h2>
	<p>
		当ブログでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
	</p>
	<ul>
		<li>本人の同意が得られた場合</li>
		<li>法令により開示を求められた場合</li>
	</ul>

	<h2>3. Cookie（クッキー）の使用について</h2>
	<p>
		当ブログでは、コンテンツの向上や広告配信のためにCookie（クッキー）を使用しています。Cookieは、サイトがユーザーのブラウザに送信する小さなテキストデータで、ユーザーの識別が可能になりますが、個人を特定する情報は含まれません。ブラウザの設定によりCookieを無効にすることも可能です。
	</p>

	<h3>3-1. アクセス解析ツールについて</h3>
	<p>
		当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
	</p>

	<h3>3-2. 広告の配信について</h3>
	<p>
		当ブログは、第三者配信の広告サービス（楽天アフィリエイト、DMMアフィリエイト、A8.net等のアフィリエイトサービスプロバイダ）を利用しています。これらの広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報（Cookie）を使用することがあります。
	</p>

	<h2>4. 免責事項</h2>
	<p>
		当ブログからのリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。また、当ブログのコンテンツ・情報について、できる限り正確な情報を掲載するよう努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。当ブログに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
	</p>

	<h2>5. プライバシーポリシーの変更について</h2>
	<p>
		当ブログは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。修正された最新のプライバシーポリシーは常に本ページにて開示されます。
	</p>
</Layout>
